<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>영화 상세</title>
</head>
<body>

<h2 th:text="${movie.title}">제목</h2>
<!--<p class="mb-5">본문(포스터, 개봉일, 장르, 국가, 개봉일 등)</p>-->

<div class="mb-5">
    <img th:src="@{https://image.tmdb.org/t/p/w500${detail.posterPath}}" alt="포스터" style="max-width: 300px; margin-bottom: 1rem;">

    <p><strong>개봉일:</strong> <span th:text="${movie.releaseDate}">2024-05-01</span></p>

    <p><strong>장르:</strong>
        <span th:each="genre : ${detail.genres}"
              th:text="${genre.name}"
              th:append=", "
              th:remove="tag"></span>
    </p>

    <p><strong>국가:</strong>
        <span th:each="country : ${detail.productionCountries}"
              th:text="${country.name}"
              th:append=", "
              th:remove="tag"></span>
    </p>

    <p><strong>러닝타임:</strong> <span th:text="${detail.runtime} + '분'">120분</span></p>

<!--<p th:text="${movie.description}">내용</p>-->

<div class="d-flex justify-content-center mt-5 gap-3">
    <a th:href="@{/reviews/new(movieId=${movie.movieId})}" class="btn btn-primary">리뷰 작성하기</a>
    <a th:href="@{/movies}" class="btn btn-secondary">목록으로 돌아가기</a>
</div>


</body>
</html>
